@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northeastern Project Management Document Tool</h1>
    <p class="lead">Putting everything in one place</p>
    <p class="alert-link"><a href="~/Projects/Create">Start a new Project</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your Projects</h2>
        <p>
            List of Projects Assigned to the selected PM
        </p>
    </div>
    <div class="col-md-4">
        <h2>All Projects</h2>
        <p>Projects in Date order</p>
    </div>
    <div class="col-md-4">
        <h2>Projects without a PM</h2>
        <p>Intake (Part A) is complete, but no one is assigned</p>
    </div>
</div>